<% provide(:title, "Andres' Resume") %>


<div class="main">
<div class="container">
    <div class="row">
        <div class="col-md-6">
        <h2>SUMMARY</h2>
        <p>Highly Motivated and eager to apply web development skills from ongoing self enrichment and past studies. I am constantly pushing myself to learn new technologies and best practices from online sources and experts</p>
        <hr>
         <h2>EDUCATION</h2>
        <p><strong>Associate of Science - Computer Science</strong>
        </br>Santa Fe Community College – Santa Fe, NM May 2014</p>
            <hr>
            
           <h2>EXPERIENCE</h2>
              
           <div class="col-md-6">
                        
                        <strong>Web Stack</strong>
                        <ul>
                            <li>HTML5</li>
                            <li>CSS3</li>
                            <li>JS/JQuery</li>
                            <li>Bootstrap</li>
                            <li>SCSS</li>
                        </ul>
                       
                    </div>

                    <div class="col-md-6">
                        <strong>Apps & Tools</strong>
                        <ul>
                            <li>Sublime Text2</li>
                            <li>Cloud 9 IDE</li>
                            <li>Git/BitBucket</li>
                            <li>Eclipse & Android SDK</li>
                            <li>Basecamp/RT Ticketing/Zen</li>
                            <li>VI/NANO</li>
                            <li>Photoshop</li>
                            
                        </ul>
                        
                    
                </div>   
                <div class="row">
                    <div class="col-md-6">
                        <strong>Skillset...</strong>
                        <ul>
                            <li>Wordpress/Joomla</li>
                            <li>Yeoman (Node.js/Grunt/NPM)</li>
                            <li>BoilerPlate HTML5 with Bootstrap</li>
                        </ul>
                       
                    </div>

                    <div class="col-md-6">
                        <strong>Working Knowldege</strong>
                        <ul>
                            <li>Ruby on Rails</li>
                            <li>Java Spring Framework</li>
                        </ul>
                    </div>
                </div>
                <hr>
                 <h2>EMPLOYMENT</h2> 
                
                    <strong>QA Tester - Deep Web Technologies</strong>
                    <h4><i>Santa Fe, NM - July 2011 – Jan. 2012</i></h4>
                    <p>Tested software and Web Applications then created test reports for Dev 
                    Team. Participated in Black box and Regression, Acceptance, Beta and other forms of testing.</br>
                        <ul>
                            <li>Understood the importance of utilizing a ticketing system in a Software Development Environment.</li>
                            <li>Reviewed and tested web apps for Spanish Language translations.</li>
                            <li>Participated in Unit Testing and reported to Developers throughout the App Development, Alpha and Beta, and Live Deployments.</li>
                        </ul>
                    </p>
                
                
                    <strong>IT Specialist - ECS IT</strong>
                    <h4><i>Santa Fe, NM - Oct. 2013 – June 2014</i></h4>
                    <p>Provided variety of IT services to clients including Managed IT services, Software and Hardware support, Linux/Windows/Mac server support, Malware Removal, and Networking.</br>
                        <ul>
                            <li>Learned quality Customer/Client services.</li>
                            <li>Collaborated in a team environment as well as accomplished duties on my own. Good communication was necessary in order for completing tasks/projects.</li>
                            <li>Set up Hyper-V Computer Lab for software deployment tests and other software deployment methods.</li>
                        </ul>
                    </p>
                

                
                    <strong>Helpdesk CSR - Cognosante</strong>
                    <h4><i>Fargo, ND - September 2014-Present</i></h4>
                    <p>My main function was to help customers and clients over the phone with Tier I support regarding particular Web Apps and Systems.</br>
                        <ul>
                            <li>Provided troubleshooting for web app functionality.</li>
                            <li>Worked with remote team mates.</li>
                            <li>Participated in ongoing training to stay up to date on new systems and company policies.</li>
                        </ul>
                    </p>
               <hr>
                <h2>ABOUT ME</h2>
               
                    <p>
                    I studied for several years a variety of general study courses which eventually guided me down the Software Development world. After earning an AS - CS degree I decided to keep learning more on my own which eventually lead me to Frontend Web Development.</p>
<p>I have since gone through several Coursera courses and online tutorials which has furthered my understanding in Programming principals and philosophies such as MVC, TDD, BDD, Front and Back End Development and Agile development.</p>
<p>For the most part I consider myself to be self taught in Web Development but couldn't have learned as much with out the help and support of friends and family.</p>
<p>Coding has taught me many things including things about myself and what drives me the most. I enjoy taking on new challenges and am constantly pushing myself to learn new technologies through countless online resources including Coursera lectures and Expert Developer Videos.</p>
<p>I am currently seeking work as a Frontend Developer and would love to meet anyone who needs a hand with a great project.</p>
<p>And now for my favorite quote...</p>
<blockquote>"To be yourself in a world that is constantly trying to make you something else is the greatest accomplishment."</br>
-Ralph Waldo Emerson</blockquote>
                       

                    </p>
        </div>
        
       
    
         <div class="col-md-6">
            <div class="zo">something</div>
        </div>
    
            
    </div>
    </div>
