// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Cardo:400,700);

$font-stack: 'Cardo', serif; 

#container {
    width: 90%;
    margin: 7em auto 2em;
    border: 1px solid #d5d5d5;
    background: #fff;
    background-color: rgba(255,255,255,0.6);
    box-shadow: .5em .5em .5em rgba(0,0,0,0.1);
}
.row{
    margin-right: 4px;
    margin-left: 4px;
}
.main{
    margin-top: 25px;
}

/*fonts*/
body{
    font: 100% $font-stack;
    font-size: 18px;
}
h3{
    font-weight: bold;
    
}
.navbar-brand{
	font-size: 30px;
	font-weight: bold;
}
/*Intro Link*/
.intro{
	height: 750px;
	
		ul{
			
			li {
				position: absolute;
				left: 50%;
				top: 50%;
				display: inline;
				margin-left: 5px;				
				margin-right: 5px;
				
				height: 100px;
				width: 125px;
				border-style: solid;
				border-width: 3px;
				}
				
			
			

		}
}
.cool{
	display: inline;
	margin-left: 5px;
	margin-right: 5px;
}








.zo{

	/* Pass a comma separated list of backgrounds: */
	background: image-url("you.jpg") no-repeat center  500px, image-url("zia.png") no-repeat bottom center;

	width:auto;
	height:500px;
	margin: 0 auto;

	border-radius:3px;

	/* Animate the positions of both of the backgrounds */
	transition:background-position 1s;
}

.zo:hover{
	/* The same goes for properties like background-position and repeat */
	background-position:  200px, right;
}

/*hover animation*/
.moo{

	/* Set a counter named cnt to 0 */
	counter-reset: cnt;

	position:relative;
	text-align:center;

	
}

/* You can style pseudo elements and give them content,
   as if they were real elements on the page */

.moo::before{
	

	font-size:18px;
	font-weight:bold;
	text-align:center;
	
}

.moo span{
	display:inline-block;

	cursor:default;
}

/* Create a counter with a pseudo element */

.moo span::after{

	/* Every time this rule is executed, the 
	   counter value is increased by 1 */
	counter-increment: cnt;

	/* Add the counter value as part of the content */
	content:" #" counter(cnt);

	display:inline-block;

}

/* Pseudo elements can even access attributes of their parent element */

.moo span::before{
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	content:attr(data-title);
	color:#666;

	opacity:0;

	/* Animate the transitions */
	-webkit-transition:opacity 0.4s;
	transition:opacity 0.4s;
}

.moo span:hover::before{
	opacity:1;
}

/*footer*/
.footer{
    nav{
        ul{
            li{
                display: inline-block;
            }
        }
    }
}