    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          
         <%= link_to "Andres O. Serrano", root_path, class:"navbar-brand" %>
        </div>
        <div class="navbar-collapse collapse">
        
          <!-- 
          <ul class="nav navbar-nav navbar-right">
            <li><a href="http://linkedin.com/pub/andres-serrano" target="_blank">LinkedIn</a></li>
            <li><a href="#">Resume PDF</a></li>
          </ul>
          -->
        </div>
      </div>
    </div>


    <script>
      $("div.navbar-fixed-top").autoHidingNavbar();
    </script>